.task_title{style: :"background-color: #e3f2fd;" }
  .task_title_index 
    登録済みタスク一覧

.form_wrapper
  = form_for @task, url: task_create_tasks_path, html: {class: 'form_group'} do |f|

    = f.label :種類
    = f.select :kind, Task.kinds_i18n.invert, {}, class: 'form_control', placeholder: 0, autofocus: true

    = f.label :題名
    = f.text_field :title, class: 'form_control', placeholder: "ここにタスク名を入力してください"

    = f.label :内容
    = f.text_area :content, class: 'form_control', placeholder: "ここにタスクの詳細を入力してください"

    = f.label :開始予定
    = f.datetime_select :start_at, ampm: :true, minute_step: 15, default: (Time.zone.now + 1.days), class: 'form_control'

    = f.label :終了予定
    = f.datetime_select :finish_at, ampm: :true, minute_step: 15, default: (Time.zone.now + 2.days), class: 'form_control'

    = f.label :所要時間
    = f.collection_select :time_required, TimeRequired.all, :time, :time, {prompt: "--"}, class: 'form_control2'

    = f.submit '作成する'

.task_title_table
  %h4.task-title-label
  %table.task_title_data
    %thead
      %tr
        %th 種類
        %th タスクの名前
        %th タスクの内容
        %th 開始時間
        %th 終了時間
        %th 状態
    %tbody.task_status
      = render @tasks