%header
  .headbar
    .headbar_registration
      - if current_member
        .headbar_registration_name_box
          = current_member.user_name
        .headbar_registration_rogout
          = link_to "ログアウト", destroy_member_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } |
      - else
        .headbar_registration_login
          = link_to "ログイン",  new_member_session_path
    .headbar_manu
      %ul
        = link_to "TOP", :root
        = link_to "ニュース", "#"
        = link_to "業務登録", :tasks
        = link_to "会員管理", :members
