.taskbar
  .taskbar_member
    - @room.members.each_with_index do |member,index|
      .taskbar_content
        .taskbar_member_index
          = member.user_name
        .taskbar_piechart
          - member.tasks.each do |task|
            .test
              %canvas{id: "myChart#{index}",class: "chart"}
            .taskbar_taskindex{data:{task: task.time_required_was}, type: "hidden"}
              .taskbar_taskindex_title
                = task.title
              .taskbar_taskindex_
                = task.kind_i18n
    -# - @room.members.each do |member|
    -#   - member.tasks.each do |task|
        -# .taskbar_task_index{data: {id: task.time_required}}

  %button#open_close
    = image_tag asset_path('btn_open.png')