- @page_title = "会員の詳細"
%h1= @page_title
.attr_index
  %table.attr
  %tr
    %th ユーザー名
    %td= @member.user_name
    ｜
  %tr
    %th メールアドレス
    %td= @member.email
    ｜
  %tr
    %th 所属チーム
    %td= Room.find(@member.room_id).name
    ｜
  %tr
    %th 管理者
    %td= @member.administrator? ? "○" : "－"
.toolbar= link_to "編集", edit_member_path